/* Small Screen */
#my-background {
    background-image:url("../../assets/grey_background.jpg") ;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.jumbotron {
    background: none;
    text-align: center;
}

#welcome-sign{
    background-color: black;
    /* opacity: 80% !important; */
    color: whitesmoke;
    border-style: solid;
    border-color: white;
    border-width: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .second-line{
        font-size: 45px;
    }
 }
