/* Small screen */
#contact-page-img{
    height: 150px;
}

.contactDiv{
    justify-content: center;
}

.contact-info{
    text-align: center;
}
/* Email */
  .email-align{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .email-item{
    text-align: center;
    font-weight: bold;
    border: 1px solid white;
  }