/* Small screen */
#profileDiv{
    text-align: center;
}
#profile-pic{
    height: 200px;
    max-width: 90%;
    border-radius: 90%;
    border: 3px solid black;
    box-shadow: 5px 5px gray;
}
.bioP{
    font-size: 20px;
    padding: 3%;
    line-height: 2;
}

/* Skills Section */
.skill-list{
    padding: 10px;
    font-size: 24px;
}
#skills-Div{
    justify-content: center;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #profile-pic{
        height: 230px;
    }
 }

